body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

.text-blue{
    color: #2F64F9 !important;
}

.bg-blue{
    background-color: #2F64F9 !important;
}

.bg-second{
    background-color: #F2F7FA;
}